/* Tablet */
@media (max-width: 992px) {
    .container-content {
        display: block;
    }

    .info {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .info-post-img img {
        width: 50%;
        display: block;
    } 
}

/* Mobile */
@media (max-width: 600px) {
    .header {
        display: none;
    }

    .banner-text h1 {
        display: none;
    }

    
    .container-content {
        display: block;
    }

    .info {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .info-post-img img {
        width: 50%;
        display: block;
    } 
}