@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
}

.container {
    display: flex;
}

/* Intro */
.intro {
    width: 30%;
    padding: 10px 16px;
    color: #000;
    background-color: #fff;
}

.intro__img img {
    width: 30%;
    border-radius: 4px;
}

.intro__heading {
    margin: 20px 0 10px 0;
    font-size: 20px;
    font-weight: 600;
}

.intro__copyright {
    font-size: 15px;
    color: #757575;
    margin: 10px 0;
}

.intro__item {
    padding: 8px 0;
    font-size: 15px;
}

.intro__item i {
    margin-right: 15px;
}

.color {
    color: #009688;
}

.intro__item:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.list__icon {
    font-size: 18px;
    margin: 16px 0;
}

.list__icon i:hover {
    opacity: 0.6;
}

/* Content */
.content {
    width: 70%;
}