* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    color: #fff;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__list-item {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__item {
    padding: 8px 16px;
}

.header__item i {
    font-size: 14px;
    margin-right: 12px;
}

.header__item a {
    color: #fff;
    text-decoration: none;
}

.item__different {
    background-color: #009688;
}

.item__different:hover,
.item__different:hover a {
    background-color: #ccc !important;
}

.header__item:hover, 
.header__item:hover a{
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

.nav {
    position: relative;
}

.nav:hover,
.nav:hover > a {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.nav:hover .subnav {
    display: block;
}

.nav i {
    position: absolute;
    top: 34%;
    right: -8px;
}

.subnav {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 2px #333;
    padding: 0;
}

.subnav li {
    min-width: 160px;
    padding: 11px 16px;
}

.subnav li:hover,
.subnav li:hover a {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.subnav li a {
    color: #000;
    text-decoration: none;
}

.header__search {
    font-size: 15px;
    padding: 11px 16px;
}

.header__search:hover {
    cursor: pointer;
    color: #fff;
    background-color: #009688;
}

.header__search-mobile {
    display: none;
}

/* Banner */
.banner {
    margin-top: 40px;
    position: relative;
}

.banner__img img{
    width: 100%;
}

.banner__text {
    position: absolute;
    bottom: 16px;
    left: 16px;
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
    font-size: 24px;
    border: none;
}

.banner__text:hover {
    cursor: pointer;
    color: #000;
    background-color: #009688;
}


/* Content */
.content__team {
    padding: 64px 16px;
    text-align: center;
}

.team__heading {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 300;
}

.team__text {
    margin: 15px 0 30px 0;
    font-size: 15px;
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__item {
    width: 25%;
}

.team__img img {
    width: 45%;
    height: 45%;
    border-radius: 50%;
}

.team__img img:hover {
    opacity: 0.65;
}

.team__name {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 500;
}

.team__work {
    margin: 15px 0;
    font-size: 15px;
}

/* Work */
.content__work {
    display: flex;
    justify-content: space-between;
    padding: 64px 8px;
    color: #fff;
    background-color: #333;
}

.work-section {
    width: 25%;
    padding: 0 8px;
    position: relative;
}

.work-section h3 {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 500;
}

.work-section p {
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
}

.work__img img {
    width: 100%;
    display: block;
}

.work-container {
    color: #000;
    background-color: #fff;
    padding: 10px 16px 15px 16px;
} 

.work-container h2 {
    font-size: 24px;
    font-weight: 500;
}

.work-container h3 {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 300;
}

.work-container p {
    margin: 15px 0;
    font-size: 15px;
}

/* Pricing */
.content__pricing {
    padding: 64px 8px;
    text-align: center;
}

.pricing__heading {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 200;
}

.content__pricing p {
    margin: 15px 0 30px 0;
    font-size: 15px;
}

.pricing__list-type {
    display: flex;
    justify-content: space-between;
}

.pricing__type-item {
    width: 33.3333%;
    margin: 0 8px;
    opacity: 0.8;
}

.pricing__type-item:hover {
    opacity: 1;
    box-shadow: 0 0 5px #ccc;
}

.type__cost-heading {
    display: inline-block;
    width: 100%;
    font-size: 24px;
    padding: 32px 16px;
    color: #fff;
    background-color: #000;
}

.type__cost-container {
    border: 1px solid #ddd;
    color: #000;
    background-color: #fff;
}

.cost__item {
    padding: 16px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.cost__item span {
    font-weight: 600;
}

.cost__price {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.cost__price-text {
    margin: 10px 0;
}

.bold {
    font-weight: 700;
}

.cost__price span {
    font-weight: 500;
    font-size: 30px;
}

.cost__price p {
    margin: 0;
}

.type__cost-btn {
    padding: 24px 16px;
    background-color: #f0f0f0;
}

.button__regis {
    color: #fff;
    background-color: #009688;
    padding: 12px 24px;
    border: none;
}

.button__regis:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.button__regis i,
.button__regis span {
    font-size: 16px;
}

.color {
    background-color: #666;
}

/* Contact */
.contact {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 64px 16px;
}

.contact__intro {
    width: 40%;
}

.intro__heading {
    font-size: 24px;
    border-bottom: 5px solid #009688;
    padding-top: 16px;
}

.intro__add {
    margin: 26px 0 20px 0;
    font-size: 24px;
    font-weight: 500;
}

.intro-item {
    margin: 10px 0;
}

.intro-item i {
    color: #009688;
    font-size: 20px;
    width: 30px;
}

.contact__info {
    width: 60%;
    background-color: #fff;
    padding: 16px;
}

.contact__info {
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}

.info__item {
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}

.info__item p {
    margin-bottom: 8px;
}

.info__item input {
    width: 100%;
    padding: 8px;
    border: none;
}

.info__send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.send__btn {
    border: none;
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
}

.send__btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.map__img img {
    width: 100%;
    display: block;
}

/* Footer */
.footer {
    position: relative;
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 32px 16px;
}

.footer__heading {
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}

.footer__list-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.footer__icon {
    padding: 8px 16px;
    background-color: #009688;
    margin: 0 2px;
}

.footer__icon:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.footer__home {
    text-align: right;
    padding-right: 20px;
    height: 100%;
}

.footer__home a {
    color: #fff;
    text-decoration: none;
}


.home__link {
    display: flex;
    justify-content: end;
    align-items: center;
}

.home__link:hover .home__icon {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.home__link:hover .come__home {
    display: block;
}

.come__home {
    display: none;
    position: absolute;
    top: 45%;
    right: 65px;
    padding: 8px 16px;
    background-color: #009688;
    color: #fff;
}

.home__icon {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    margin-left: 8px;
}

.copyright a {
    color: #fff;
}

/* Dropdown */
.dropdown-toggle {
    border: none;
    color: #fff;
    background-color: #000;
    padding: 9px 16px;
}

.dropdown-toggle i {
    font-size: 16px;
}

.dropdown-menu {
    padding: 0;
    transform: translate3d(0, 38px, 0px) !important;
    border-radius: 0;
    background-color: #000;
    width: 100vw;
    inset: 0 0 auto auto !important;
}

.dropdown-item {
    padding: 8px 32px;
    color: #fff;
}

.dropdown-toggle::after {
    display: none;
}

/* Modal */
.modal-dialog {
    height: 100%;
    max-width: 900px;
    margin-top: 100px;
}

.modal-content {
    display: block;
    border-radius: 0;
    border: none !important;
}

.modal-header {
    position: relative;
    color: #fff;
    background-color: #009688;
    display: block;
    padding: 0 16px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    border: none;
    background-color: #009688;
}

.close-button:hover {
    color: #000;
    background-color: #ccc;
    border-radius: 0;
}

.modal-title-heading {
    font-size: 20px;
    padding-top: 10px;
}

.modal-title-text {
    font-size: 18px;
    margin: 10px 0;
}

.modal-body span a {
    color: #009688;
}

.modal-footer {
    display: block;
    padding: 15px 16px;
    background-color: #009688;
}

.add__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: unset;
    border: none;
}

.add {
    position: absolute;
    bottom: -84px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #009688;
    color: #fff;
    line-height: 45px;
    font-size: 20px;
}

.add:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.offcanvas-header {
    padding: 0;
}

.close-btn {
    padding: 8px 16px;
    text-align: left;
    border: none;
    color: #000;
    background-color: unset;
    width: 100%;
    font-size: 30px;
    color: #009688;
    margin-bottom: 40px;
}

.close-btn:hover {
    color: #000;
    background-color: #ccc;
}

.offcanvas-body {
    color: #000;
    padding: 0;
}

.offcanvas-body h2 {
    margin: 8px 0;
    padding: 8px 16px;
}

.offcanvas-body h2:hover {
    cursor: pointer;
    background-color: #ccc;
}
